**/target/**
**/src/main/kotlin/com/eventsservice/repositories
**/src/main/kotlin/com/usersservice/repositories
**/src/main/kotlin/com/paymentsservice/repositories

### IntelliJ IDEA ###
**/.idea/** 
*.iws
*.iml
*.ipr

### VS Code ###
**/.vscode/**

### Mac OS ###
.DS_Store
